<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head lang="en">
        <meta charset="UTF-8"/>

        <link th:href="@{/resources/css/lib/bootstrap/css/bootstrap.min.css}"
              href="../../resources/css/lib/bootstrap/css/bootstrap.min.css"
              rel="stylesheet"
              type="text/css" />

        <link th:href="@{/resources/css/lib/bootflat/css/bootflat.css}"
              href="../../resources/css/lib/bootflat/css/bootflat.css"
              rel="stylesheet"
              type="text/css" />

        <link th:href="@{/resources/css/src/analysis/page.css}"
              href="../../resources/css/src/analysis/page.css"
              rel="stylesheet"
              type="text/css" />

        <script th:src="@{/resources/js/lib/jquery/jquery-1.11.2.min.js}"
                src="../../resources/js/lib/jquery/jquery-1.11.2.min.js"
                type="text/javascript">
        </script>

        <script th:src="@{/resources/js/lib/highchart/highstock.js}"
                src="../../resources/js/lib/highchart/highstock.js"
                type="text/javascript">
        </script>

        <script th:src="@{/resources/js/lib/highchart/modules/exporting.js}"
                src="../../resources/js/lib/highchart/modules/exporting.js"
                type="text/javascript">
        </script>

        <script th:src="@{/resources/js/lib/d3/d3.min.js}"
                src="../../resources/js/lib/d3/d3.min.js"
                type="text/javascript">
        </script>
        <script th:src="@{/resources/js/lib/topojson/topojson.js}"
                src="../../resources/js/lib/topojson/topojson.js"
                type="text/javascript">
        </script>
        <script th:src="@{/resources/js/lib/datamaps/datamaps.usa.min.js}"
                src="../../resources/js/lib/datamaps/datamaps.usa.min.js"
                type="text/javascript">
        </script>

        <title>Tweet Analysis</title>
    </head>

    <body>
        <div style="display: flex; flex-direction: column;">
            <div style="display: flex; flex-direction: row;">
                <div id="app"></div>

                <div style="flex-grow: 1;">
                    <div id="map"></div>
                </div>
            </div>

            <div id="chart" style="height: 260px;"></div>
        </div>

        <!--<div style="display: flex; flex-direction: row;">-->
            <!--<div id="app" style="margin-top: 80px; margin-left: 5px; min-width: 172px;"></div>-->

            <!--<div style="flex-grow: 1; margin: 0 10px; display: flex">-->
                <!--<div id="chart" style="width: 1100px;"></div>-->
            <!--</div>-->
        <!--</div>-->
        <script th:src="@{/resources/js/lib/react/react-with-addons.min.js}"
                src="../../resources/js/lib/react/react-with-addons.min.js"
                type="text/javascript">
        </script>

        <script th:src="@{/resources/js/lib/react/JSXTransformer.js}"
                src="../../resources/js/lib/react/JSXTransformer.js"
                type="text/javascript">
        </script>

        <script th:src="@{/resources/js/src/analysis/app.js}"
                src="../../resources/js/src/analysis/app.js"
                type="text/jsx">
        </script>
    </body>
</html>